---
	import Layout from '@layouts/layout.astro'
  import { handleError } from '@lib/database'
  import { updateCache } from '@lib/cache'

  const { supabase, user } = Astro.locals

  if (Astro.request.method === 'POST') {
    const formData = await Astro.request.formData()
    const articleName = formData.get('articleName')

    const { data, error } = await supabase.from('articles').insert({ name: articleName, author: user.id }).select().single()
    updateCache('articles', data)

    // add bookmark
    const { error: bookmarkError } = await supabase.from('bookmarks').upsert({ user_id: user.id, article_id: data.id }, { onConflict: 'user_id, article_id', ignoreDuplicates: true })
    if (bookmarkError) { return handleError(bookmarkError) }

    if (error) { handleError(error) }
    else {
      return Astro.redirect(`/article/${data.id}?toastType=success&toastText=${encodeURIComponent('Článek byl přidán')}`)
    }
  }
---

<Layout title='Vytvořit článek'>
  <a href='javascript:history.back()'>zpět</a>

  <h1>Vytvořit článek</h1>

  {user.id ? (
    <form method='POST' autocomplete='off'>
      <div class='row'>
        <div class='labels'>
          <label for='articleName'>Název článku</label>
        </div>
        <div class='inputs'>
          <input type='text' id='articleName' name='articleName' maxlength='80' />
        </div>
      </div>
      <div class='row'>
        <div class='labels'>
          <label for='articleName'>Anotace</label>
        </div>
        <div class='inputs'>
          <input type='text' id='articleName' name='articleName' maxlength='80' />
        </div>
      </div>
      <center>
        <button type='submit'>Vytvořit</button>
      </center>
    </form>
  ) : (
    <div>
      <p>Pro vytvoření nového článku se musíš přihlásit.</p>
    </div>
  )}
</Layout>

<style>
  form {
    width: 100%;
  }
    .row {
      display: flex;
      margin-top: 30px;
      margin-bottom: 30px;    /* align-content: center; */
      align-items: center;
    }
      .labels {
        width: 15%;
      }
      .inputs {
        flex: 1;
      }
        input {
          width: 100%;
        }
        select {
          width: 400px;
        }
  center {
    margin-top: 20px;
  }
  @media (max-width: 860px) {
    .row {
      display: block;
    }
      .labels {
        width: 100%;
        padding-bottom: 20px;
      }
  }
</style>