---
  import { updateCache } from '@lib/cache'
	import Layout from '@layouts/layout.astro'
  import ArticleForm from '@components/articles/ArticleForm.svelte'

  const { supabase, user } = Astro.locals

  if (Astro.request.method === 'POST') {
    const formData = await Astro.request.formData()
    const name = formData.get('articleName')
    const content = formData.get('articleContent')
    const annotation = formData.get('articleAnnotation')
    const tags = formData.get('articleTags') ? formData.get('articleTags').split(',') : []

    const { data, error } = await supabase.from('articles').insert({ author: user.id, name, content, annotation, tags }).select().single()
    if (error) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: ' + error.message)}`) }
    updateCache('articles', data)

    // add bookmark
    const { error: bookmarkError } = await supabase.from('bookmarks').upsert({ user_id: user.id, article_id: data.id }, { onConflict: 'user_id, article_id', ignoreDuplicates: true })
    if (bookmarkError) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: ' + bookmarkError.message)}`) }

    return Astro.redirect(`/article/${data.id}?toastType=success&toastText=${encodeURIComponent('Článek byl přidán')}`)
  }
---

<Layout title='Vytvořit článek'>
  <a href='javascript:history.back()'>zpět</a>

  <h1>Vytvořit článek</h1>
  <ArticleForm {user} client:only />
</Layout>
