---
	import Layout from '@layouts/layout.astro'
  import BoardForm from '@components/boards/BoardForm.svelte'

  const { supabase, user } = Astro.locals

  if (Astro.request.method === 'POST') {
    const formData = await Astro.request.formData()
    const boardName = formData.get('boardName')
    const boardAnnotation = formData.get('boardAnnotation')

    // Check if the board name already exists
    const { data: existingBoard, error: checkError } = await supabase.from('boards').select('name').eq('name', boardName).single()
    if (existingBoard) { return Astro.redirect(`/board/board-form?toastType=error&toastText=${encodeURIComponent('Chyba: Diskuze s tímto názvem již existuje')}`) }

    const { data, error } = await supabase.from('boards').insert({ name: boardName, annotation: boardAnnotation, owner: user.id }).select().single()
    if (error) { return Astro.redirect(`/board/board-form?toastType=error&toastText=${encodeURIComponent('Chyba: ' + error.message)}`) }

    // add bookmark
    const { error: bookmarkError } = await supabase.from('bookmarks').upsert({ user_id: user.id, board_id: data.id, board_thread: data.thread }, { onConflict: 'user_id, board_id', ignoreDuplicates: true })
    if (bookmarkError) { return Astro.redirect(`/board/board-form?toastType=error&toastText=${encodeURIComponent('Chyba: ' + bookmarkError.message)}`) }

    const { error: readError } = await supabase.from('read_threads').upsert({ user_id: user.id, thread_id: data.thread }, { onConflict: 'user_id, thread_id', ignoreDuplicates: true })
    if (readError) { return Astro.redirect(`/board/board-form?toastType=error&toastText=${encodeURIComponent('Chyba: ' + readError.message)}`) }

    const { error: unreadError } = await supabase.from('unread_threads').upsert({ user_id: user.id, thread_id: data.thread, unread_count: 0 }, { onConflict: 'user_id, thread_id', ignoreDuplicates: true })
    if (unreadError) { return Astro.redirect(`/board/board-form?toastType=error&toastText=${encodeURIComponent('Chyba: ' + unreadError.message)}`) }

    return Astro.redirect(`/board/${data.id}?toastType=success&toastText=${encodeURIComponent('Diskuze byla přidána')}`)
  }
---

<Layout title='Vytvořit diskuzi'>
  <a href='javascript:history.back()'>zpět</a>
  <BoardForm {user} client:only='svelte' />
</Layout>
