---
	import Layout from '@layouts/layout.astro'
  // import { updateCache } from '@lib/cache'

  const { supabase, user } = Astro.locals

  if (Astro.request.method === 'POST') {
    const formData = await Astro.request.formData()
    const boardName = formData.get('boardName')

    const { data, error } = await supabase.from('boards').insert({ name: boardName, owner: user.id }).select().single()
    if (error) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: ' + error.message)}`) }
    // updateCache('boards', data)

    // add bookmark
    const { error: bookmarkError } = await supabase.from('bookmarks').upsert({ user_id: user.id, board_id: data.id }, { onConflict: 'user_id, board_id', ignoreDuplicates: true })
    if (bookmarkError) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: ' + bookmarkError.message)}`) }

    return Astro.redirect(`/board/${data.id}?toastType=success&toastText=${encodeURIComponent('Diskuze byla přidána')}`)
  }
---

<Layout title='Vytvořit diskuzi'>
  <a href='javascript:history.back()'>zpět</a>

  <h1>Vytvořit diskuzi</h1>

  {user.id ? (
    <form method='POST' autocomplete='off'>
      <div class='row'>
        <div class='labels'>
          <label for='boardName'>Název</label>
        </div>
        <div class='inputs'>
          <input type='text' id='boardName' name='boardName' maxlength='80' />
        </div>
      </div>
      <center>
        <button type='submit' class='large'>Vytvořit</button>
      </center>
    </form>
  ) : (
    <div>
      <p>Pro vytvoření nové diskuze se musíš přihlásit.</p>
    </div>
  )}
</Layout>

<style>
  form {
    width: 100%;
  }
    .row {
      display: flex;
      margin-top: 30px;
      margin-bottom: 30px;
    }
      .labels {
        width: 15%;
        padding-top: 15px;
      }
      .inputs {
        flex: 1;
      }
        input {
          width: 100%;
        }
        select {
          width: 400px;
        }
  center {
    margin-top: 20px;
  }
  @media (max-width: 860px) {
    .row {
      display: block;
    }
      .labels {
        width: 100%;
        padding-bottom: 20px;
      }
  }
</style>