/* VARIABLES */

:root {
  --scroll-bar-color: #8885;
  --scroll-bar-color-hover: #888;
  --error: #E54B4B;
  --background: #000;
  --panel: #151515;
  --block: #222;
  --blockLight: #22201f;
  --prominent: #222;
  --overlay: #555;
  --headline:#715F47;
  --text: #bab1a9;
  --link: #c68c39;
  --linkHover: #fff;
  --linkVisited: #c68c39;
  --dim: #92857a;
  --maximum: #fff;
  --accent: #a5a664;
  --user: #a5a664;
  --userHover: #edeec7;
  --character: #968ebd;
  --characterHover: #d7d3ec;
  --whisper: #302f33;
  --new: gold;
  --goldLight: rgba(255, 217, 0, 0.5); /* gold with 50% opacity */
  --buttonBg: #333;
  --buttonBo: #333;
  --buttonTx: #c68c39;
  --buttonBgHover: #444;
  --buttonBoHover: #444;
  --buttonTxHover: #fff;
  --inputBg: #333;
  --inputBo: #444;
  --inputTx: #cbcbcb;
  --heart: #b66767;
  --frown: #b68e67;
  --thumb: #b6b367;
  --laugh: #83b667;
  --fontSizeBase: 0.9rem;
  --fontSizeBaseLh: 1.5;
  --fontSizeInput: max(var(--fontSizeBase), 16px);
  --bodyFont: 'Alegreya Sans', Arial, Helvetica, sans-serif;
  --headlineFont: 'Alegreya', 'Times New Roman', Times, serif;
}

/* COMPONENT OVERRIDES */

/*
#newsCategorySelect button {
  background: none;
  padding: 10px 30px 10px 0px;
  position: relative;
  border: none;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  white-space: nowrap;
}
  #newsCategorySelect button.dropdown-toggle::after {
    content: '⧨';
    position: absolute;
    right: 0px;
  }
*/

.headline.pinned {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  clip-path: polygon(0 0, 100% 0, 100% 200%, 0 200%);
}

/* UTILS */

.flex {
  display: flex;
  align-items: center;
}

/* MOBILE */

@media (max-width: 768px) {}
@media (max-width: 500px) {}

/* OVERRIDES */

#editorial p {
  font-size: var(--fontSizeBase) !important;
}

aside #tabs button span.label {
  font-size: var(--fontSizeBase) !important;
}

aside #panels h4 {
  font-size: calc(1.2 * var(--fontSizeBase)) !important;
}

aside #panels ul {
  padding-left: 0px !important;
}

aside #panels a {
  font-size: var(--fontSizeBase) !important;
  font-variation-settings: 'wght' 400 !important;
}
