
* { box-sizing: border-box }

/* VARIABLES */

:root {
  --error: #E54B4B;
  --background: #201c1b;
  --panel: #2b2827;
  --block: #33302f;
  --prominent: #3f3431;
  --green: #a5a740;
  --text: #c4b6ab;
  --dim: #92857a;
  --accent: #a97855;
  --accent2: #a07150;
  --highlight: #c8926b;
  --buttonBg: #634b41;
}

/* FONTS */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 100 900;
  src: url('./AlegreyaSans.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Alegreya Sans Italic';
  font-style: italic;
  font-weight: 100 900;
  src: url('./AlegreyaSans-Italic.woff2') format('woff2-variations');
}

/* UTILS */

.flex {
  display: flex;
  align-items: center;
}

/* BASICS */

html { background-color: var(--background) }

body, a {
  font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
  font-size: 15pt;
  color: var(--text);
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Alegreya', 'Times New Roman', Times, serif;
}

h1 {
  font-variation-settings: 'wght' 600;
}

a {
  color: var(--accent);
  font-variation-settings: 'wght' 600;
}
  a:hover {
    color: var(--highlight);
  }

/* TOASTS */

.notyf__toast {
  border-radius: 10px !important;
}

/* FORM */

button, .button {
  font-family: 'Alegreya Sans';
  font-size: 15pt;
  font-variation-settings: 'wght' 600;
  padding: 15px 30px;
  border-radius: 8px;
  color: var(--text);
  background-color: var(--buttonBg);
  border: 1px color-mix(in srgb, var(--buttonBg), var(--accent) 15%) solid;
  cursor: pointer;
  box-shadow: 2px 2px 3px #0003;
}

  button:hover, .button:hover {
    background-color: color-mix(in srgb, var(--buttonBg), var(--accent) 10%);
    border: 1px color-mix(in srgb, var(--buttonBg), var(--accent) 30%) solid;
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
    color: #dacfc6;
  }

input[type=text], textarea {
  padding: 15px 10px;
  font-size: 14pt;
  box-shadow: inset 1px 1px 6px #0006;
  border: none;
  /*border: 1px color-mix(in srgb, var(--buttonBg), var(--panel) 70%) solid;*/
  border-bottom: 3px var(--buttonBg) solid;
  color: var(--text);
  background-color: color-mix(in srgb, var(--panel), var(--background) 15%);
  border-radius: 10px;
}

  input[type=text]:focus, textarea:focus {
    outline: 2px var(--accent) solid;
  }