
* { box-sizing: border-box }

/* Scrollbars */
::-webkit-scrollbar { width: 4px }
::-webkit-scrollbar-track { background: transparent }
::-webkit-scrollbar-thumb {
  background: #8885;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover { background: #888; }

/* VARIABLES */

:root {
  --error: #E54B4B;
  --green: #a5a740;
  --background: #201c1b;
  --panel: #2b2827;
  --block: #33302f;
  --prominent: #3f3431;
  --overlay: #464342;
  --text: #c4b6ab;
  --link: #c48d66;
  --linkHover: #e9ceba;
  --linkVisited: #a07150;
  --dim: #92857a;
  --maximum: #fff;
  --accent: #a5a664;
  --user: #a5a664;
  --userHover: #edeec7;
  --character: #968ebd;
  --characterHover: #d7d3ec;
  --whisper: #302f33;
  --new: gold;
  --buttonBg: #634b41;
  --buttonBgHover: #705343;
  --inputBg: #2a2625;
  --heart: #b66767;
  --frown: #b68e67;
  --thumb: #b6b367;
  --laugh: #83b667;
  --bodyFont: 'Alegreya Sans', Arial, Helvetica, sans-serif;
  --headlineFont: 'Alegreya', 'Times New Roman', Times, serif;
}

/* FONTS */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 100 900;
  src: url('./fonts/AlegreyaSans.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Alegreya Sans Italic';
  font-style: italic;
  font-weight: 100 900;
  src: url('./fonts/AlegreyaSans-Italic.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Material Symbols Sharp';
  font-display: block;
  font-style: normal;
  font-weight: 100 700;
  src: url('./fonts/MaterialSymbolsSharpSubset.woff2') format('woff2');
}

/* BASICS */

html { background-color: var(--background) }

body, a {
  font-family: var(--bodyFont);
  font-weight: 400;
  font-size: 20px;
  color: var(--text);
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: var(--headlineFont);
}

h1, h2, h3, h4 {
  font-variation-settings: 'wght' 600;
}

a {
  color: var(--link);
  font-variation-settings: 'wght' 600;
}
  a:hover {
    color: var(--linkHover);
  }

hr {
  border: none;
  border-top: 1px solid var(--text)
}

blockquote {
  border-left: 3px solid var(--linkVisited);
  padding-left: 15px;
  font-style: italic;
}

code {
  display: block;
  font-family: 'Courier New', Monospace;
  font-size: 17px;
  background: black;
  padding: 10px;
  border-radius: 10px;
  color: #AAA;
  width: 100%;
  line-height: 150%;
}

summary {
  cursor: pointer;
}

/* TOASTS */

.notyf__toast {
  border-radius: 10px !important;
}
.success {
  color: var(--background);
}

/* FORM */

button, .button {
  font-family: 'Alegreya Sans';
  font-size: 20px;
  font-variation-settings: 'wght' 600;
  padding: 10px 20px;
  border-radius: 8px;
  color: var(--text);
  background-color: var(--buttonBg);
  border: 1px color-mix(in srgb, var(--buttonBg), var(--accent) 15%) solid;
  cursor: pointer;
  box-shadow: 2px 2px 3px #0003;
  text-align: center;
}

  button.large, .button.large {
    padding: 15px 30px;
    min-width: 240px;
  }

  button:hover, .button:hover {
    background-color: var(--buttonBgHover);
    border: 1px color-mix(in srgb, var(--buttonBg), var(--linkVisited) 30%) solid;
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
    color: #dacfc6;
  }

  button:disabled {
    color: var(--dim);
    background-color: var(--block);
    border: none;
    cursor: not-allowed;
    box-shadow: none;
  }

  button.material-symbols-rounded {
    border: none;
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
  }

  button.secondary {
    border: none;
    background: none;
    color: var(--linkVisited);
    box-shadow: none;
    padding: 5px;
  }

  button.active {
    background-color: var(--panel);
    border: 1px var(--panel) solid;
    box-shadow: inset 2px 2px 2px #0003;
  }

input[type=text], input[type=email], input[type=password], textarea, input[type=checkbox], .ProseMirror {
  font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
  padding: 15px;
  margin: 0px;
  font-size: 20px;
  border: none;
  color: var(--text);
  border-bottom: 3px var(--buttonBg) solid;
  background-color: var(--inputBg);
  box-shadow: inset 1px 1px 6px #0006;
  border-radius: 10px;
  appearance: none;
  min-width: 40px;
  min-height: 40px;
}

textarea, .ProseMirror {
  line-height: 140%;
  font-size: 20px;
}

  input[type=text]:focus, textarea:focus, select:focus, .ProseMirror-focused {
    outline: 2px var(--buttonBg) solid;
  }
  input[type=checkbox] {
    cursor: pointer;
  }
  input[type=color] {
    width: 36px;
    height: 36px;
    padding: 0px;
    appearance: none;
  }
  input[type=color]::-webkit-color-swatch-wrapper {
    padding: 3px;
  }
  input[type=checkbox]:checked {
    background-color: var(--accent);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='20' viewBox='0 -960 960 960' width='20'><path d='M395-253 194-455l83-83 118 117 288-287 83 84-371 371Z' fill='%23201c1b'/></svg>");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 35px 35px;
    box-shadow: 1px 1px 6px #0006;
  }

option {
  padding: 5px;
}
  option:checked {
    color: white;
    background-color: var(--accent);
  }
  option.character:checked {
    color: white;
    background-color: var(--character);
  }

select {
  padding: 15px;
  font-size: 18px;
  box-shadow: 1px 1px 6px #0006;
  border: none;
  border-top: 3px var(--buttonBg) solid;
  color: var(--text);
  border-radius: 10px;
  cursor: pointer;
  appearance: none;
  position: relative;
  background-color: color-mix(in srgb, var(--panel), var(--prominent) 15%);
  background-image: url("data:image/svg+xml;utf8,<svg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M12 1.41024L10.59 0.000244079L6 4.58024L1.41 0.000243678L-6.16331e-08 1.41024L6 7.41024L12 1.41024Z' fill='%23c4b6ab'/></svg>");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 14px 14px;
}

.highlight {
  color: var(--new);
  font-weight: bold;
}

.user {
  color: var(--user);
}
  .user:hover {
    color: var(--userHover);
  }
.character {
  color: var(--character);
}
  .character:hover {
    color: var(--characterHover);
  }

.toggle {
  display: flex;
  gap: 1px;
}
  .toggle button {
    padding: 10px;
  }
    .toggle button:first-child {
      border-radius: 10px 0px 0px 10px;
    }
    .toggle button:last-child {
      border-radius: 0px 10px 10px 0px;
    }

.editableLong p {
  padding: 10px 0px;
  margin: 0px;
}

/* SVELTE-SELECT */

.svelte-select {
  --font-size: 20px;
  --border: none;
  --border-radius: 10px;
  --border-hover: none;
  --background: var(--inputBg);
  --color: var(--text);
  --padding: 15px;
  --min-width: 40px;
  --min-height: 40px;
  --border-focused: 2px var(--buttonBg) solid;
  --list-background: var(--block);
  --list-shadow: 2px 2px 6px #0003;
  --item-hover-bg: var(--text);
  --item-hover-color: var(--background);
  --multi-item-bg: var(--buttonBg);
  --multi-item-outline: none;
  --multi-item-clear-icon-color: var(--text);
  --multi-item-height: 30px;
  cursor: text;
  box-shadow: inset 1px 1px 6px #0006;
  font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
  border-bottom: 3px var(--buttonBg) solid !important;
}
  .svelte-select input {
    cursor: text !important;
    box-shadow: none;
  }
  .svelte-select .multi-item-clear {
    cursor: pointer;
  }

/* TABS */

.tabs {
  position: relative;
}

  .tabs a, .tabs button {
    font-family: 'Alegreya Sans';
    font-variation-settings: 'wght' 600;
    display: inline-block;
    padding: 13px 20px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    text-shadow: 2px 2px 2px #0003;
    opacity: 0.8;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
    .tabs a:hover, .tabs button:hover {
      opacity: 1;          
    }

    .tabs a.active, .tabs button.active {
      color: var(--text);
      background-color: var(--panel);
      border-radius: 8px 8px 0px 0px;
      padding: 13px 20px;
      opacity: 1;
      position: relative;
    }
      .tabs a.active:before, .tabs a.active:after, .tabs button.active:before, .tabs button.active:after {
        content: '';
        position: absolute;
        height: 8px;
        width: 16px;
        bottom: 0px;
      }
      .tabs a.active:after, .tabs button.active:after {
        right: -16px;
        border-radius: 0 0 0 8px;
        box-shadow: -8px 0 0 0 var(--panel);
      }
      .tabs a.active:before, .tabs button.active:before {
        left: -16px;
        border-radius: 0 0 8px 0;
        box-shadow: 8px 0 0 0 var(--panel);
      }
      .tabs button:disabled, #tabs button:disabled {
        color: var(--dim) !important;
        text-shadow: none !important;
        opacity: 0.5 !important;
      }

  /* SECONDARY TABS */

  .tabs.secondary:after {
    content: '';
    width: 100%;
    height: 10px;
    background-color: var(--block);
    position: absolute;
    bottom: -10px;
    left: 0px;
    box-shadow: 2px 2px 2px #0001;
  }
    .tabs.secondary button:not(.active) {
      color: var(--linkVisited);
      opacity: 1;
    }
      .tabs.secondary button:not(.active):hover {
        color: var(--text);
      }
  .tabs.secondary button.active {
    background-color: var(--block);
    box-shadow: 2px 0px 2px #0003;
  }
    .tabs.secondary button.active:after {
      box-shadow: -8px 0 0 0 var(--block);
    }
    .tabs.secondary button.active:before {
      box-shadow: 8px 0 0 0 var(--block);
    }
    .tabs.secondary button:first-child::before {
      content: none;
    }

  /* TERTIARY TABS */

  .tabs.tertiary button {
    color: var(--link);
  }
    .tabs.tertiary button:first-child {
      padding-left: 0px;
    }

/* MISC */

.sep {
  width: 1px;
  height: 22px;
  border-left: 1px solid #0003;
  border-right: 1px solid #fff1;
  display: inline-block;
}

.diceRoll {
  line-height: 200%;
}
  .diceRoll h3 {
    margin: 0px;
  }
  .diceRoll .row {
    font-family: courier, courier new, sans-serif;
  }
  .diceRoll .type {
    display: inline-block;
    width: 80px;
  }
  .diceRoll b {
    font-size: 30px;
  }

.info {
  font-size: 20px;
  color: var(--dim);
  font-style: italic;
  padding-left: 10px;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px #0006;
  background-color: var(--new);
  z-index: 100;
}

.status {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px #0006;
  background-color: var(--accent);
}

/* Post content */

.post .content {
  font-size: 20px;
  font-weight: 375;
}
.post .content p {
  margin: 5px 0px;
}
.post .content img {
  max-width: 100%;
  object-fit: contain;
  cursor: pointer;
}
.post .content a {
  text-decoration: underline;
}
  .post .content a:visited {
    color: var(--linkVisited);
  }
.post .content .reply { /* reply */
  padding: 5px;
  padding-left: 0px;
  color: var(--accent);
  font-style: normal;
  font-variation-settings: 'wght' 600;
}

#lastPosts .content {
  max-height: 300px;
  overflow: auto;
}

/* WYSIWYG - TipTap/ProseMirror */

.ProseMirror {
  height: 100%;
  min-height: 140px;
  padding-bottom: 50px;
  padding-right: 80px;
}
.ProseMirror img {
  max-width: 100%;
}
.ProseMirror p {
  margin: 10px 0px;
}
.ProseMirror .details {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  border: 1px solid var(--buttonBg);
  border-radius: 10px;
  padding: 5px;
  gap: 10px;
}
  .ProseMirror .details>button {
    display: flex;
    cursor: pointer;
    padding: 0px;
  }
  .ProseMirror .details>button:before {
    content: "\25b6";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
  }
  .ProseMirror .details.is-open>button:before {
    content: "\25bc";
  }
  .ProseMirror .is-empty:before {
    content: attr(data-placeholder);
    float: left;
    color: var(--dim);
    pointer-events: none;
    height: 0;
  }
  .ProseMirror .details>div {
    flex: 1 1 auto;
  }
  .ProseMirror cite { /* reply */
    padding: 5px;
    padding-left: 0px;
    color: var(--accent);
    font-style: normal;
    font-variation-settings: 'wght' 600;
  }
  img.ProseMirror-selectednode {
    outline: 2px var(--maximum) solid;
    border-radius: 5px;
  }

/* Svelte Easy Crop */

.cropperArea {
  border: 2px white solid !important;
  color: var(--panel) !important;
  opacity: 0.5;
}

/* Tippy tooltip */

.tippy-box {
  background-color: var(--background) !important;
  color: var(--text) !important;
  font-size: 18px !important;
  padding: 10px;
  box-shadow: 1px 1px 6px #0002;
}
.tippy-arrow {
  color: var(--background) !important;
}

.tippy-box-bubble {
  background-color: transparent !important;
  box-shadow: none !important;
}
  .tippy-box-bubble .tippy-arrow {
    display: none;
  }

/* Component overrides */

#newsCategorySelect button {
  background: none;
  padding: 10px 30px 10px 0px;
  position: relative;
  border: none;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  white-space: nowrap;
}
  #newsCategorySelect button.dropdown-toggle::after {
    content: '⧨';
    position: absolute;
    right: 0px;
  }

/* UTILS */

.material {
  font-family: 'Material Symbols Sharp';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; /* subpixel-antialiased; */
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 24;
}

.flex {
  display: flex;
  align-items: center;
}


/* MOBILE */

@media (max-width: 768px) {
  body, a {
    font-size: 18px;
  }
  h1 {
    font-size: 30px;
  }

  .tabs a, .tabs button {
    padding: 10px 15px;
    font-size: 20px;
  }

  .diceRoll b {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .tabs a, .tabs button {
    padding: 10px 8px;
  }
    .tabs a.active {
      padding: 10px 15px;
    }
  .ProseMirror {
    padding-right: 15px;
  }
}