---
// src/pages/500.astro
---
<html>
  <head>
    <title>500 - Server Error</title>
  </head>
  <body>
    <h1>500 - Internal Server Error</h1>
    <p>Něco se nepovedlo, prosím mějte trpělivost :)</p>
  </body>
</html>
