---
	import Layout from '@layouts/layout.astro'
  import BoardList from '@components/boards/BoardList.svelte'

  const { supabase, user } = Astro.locals

  const { data: openBoards, error: openError } = await supabase.from('board_list').select('*').match({ open: true, published: true }).order('id', { ascending: false })
  if (openError) { console.error(openError) }

  // put boards id 1,2 and 3 at the top of the list
  openBoards.sort((a, b) => {
    if (a.id < 4) return -1
    if (b.id < 4) return 1
    return 0
  })

  const { data: privateBoards, error: privateError } = await supabase.from('board_list').select('*').match({ open: false, published: true }).order('id', { ascending: false })
  if (privateError) { console.error(privateError) }
---

<Layout title='Diskuze'>
  <BoardList {user} boards={openBoards} showHeadline client:load />
  <h2>Soukromé</h2>
  <BoardList {user} boards={privateBoards} compactOnly client:load />
</Layout>
