---
	import Layout from '@layouts/layout.astro'
  import BoardList from '@components/boards/BoardList.svelte'

  const { supabase, user } = Astro.locals

  const { data: openBoards, error: openError } = await supabase.from('board_list').select('*').eq('open', true).order('id', { ascending: false })
  if (openError) { console.error(openError) }

  const { data: privateBoards, error: privateError } = await supabase.from('board_list').select('*').eq('open', false).order('id', { ascending: false })
  if (privateError) { console.error(privateError) }
---

<Layout title='Diskuze'>
  <BoardList {user} boards={openBoards} showHeadline client:load />
  <h2>Soukromé</h2>
  <BoardList {user} boards={privateBoards} compactOnly client:load />
</Layout>
