---
  import { handleError } from '@lib/database'
	import Layout from '@layouts/layout.astro'
  import BoardList from '@components/boards/BoardList.svelte'

  const { supabase, user } = Astro.locals
  const { data, error } = await supabase.from('boards').select('id, name, owner:profiles(name)')
  if (error) { handleError(error) }
---

<Layout title='Diskuze'>
  <div class='headline flex'>
    <h1>Diskuze</h1>
    {user.id && (<div>
      <a href='./board/board-form' class='button desktop'>Vytvořit novou diskuzi</a>
      <a href='./board/board-form' class='button mobile material'>add</a>
    </div>)}
  </div>
  <BoardList boards={data} />
</Layout>

<style>
  .headline {
    justify-content: space-between;
  }
  .mobile { display: none }
  .desktop { display: block }

  @media (max-width: 860px) {
    .desktop { display: none }
    .mobile { display: block }
    .button {
      padding: 10px;
    }
  }
</style>