---
	import Layout from '@layouts/layout.astro'
  import Chat from '@components/chat/Chat.svelte'

  const { user } = Astro.locals
---

<Layout title='Chat' headerStatic='/header_chat.jpg'>
	<main>
    {user.id ? (
      <Chat {user} client:only='svelte' />
    ) : (
      <center>
        Tato sekce je jen pro přihlášené uživatele.
      </center>
    )}
	</main>
</Layout>

<style>
	center {
		padding-top: 30px;
	}
</style>