---
	import LayoutChat from '@layouts/layoutChat.astro'
  import Chat from '@components/chat/Chat.svelte'

  const { user, supabase } = Astro.locals
  let unread = 0
  if (user.id) {
    const env = import.meta.env ? import.meta.env : context.locals.runtime.env
    const { data, error } = await supabase.rpc('get_thread_unread', { thread: 1 })
    if (error) {
      console.error('get_thread_unread for chat failed', error)
    } else {
      unread = data
    }
  }
---

<LayoutChat title='Chat' headerStatic='/header_chat.jpg'>
	<main>
    {user.id ? (
      <Chat {user} {unread} client:only='svelte' />
    ) : (
      <center>
        Tato sekce je jen pro přihlášené uživatele.
      </center>
    )}
	</main>
</LayoutChat>

<style>
	center {
    height: 100svh;
		padding: 100px 30px;
	}
</style>