---
	import Layout from '@layouts/layout.astro'
  import { supabase, handleError } from '@lib/database'
  import { createThread } from '@lib/openai'

  const { user } = Astro.locals

  if (Astro.request.method === 'POST') {
    const formData = await Astro.request.formData()
    const gameName = formData.get('gameName')
    const gameSystem = formData.get('gameSystem')
    const openAiThread = await createThread()

    const { data, error } = await supabase.from('games').insert({ name: gameName, owner: user.id, system: gameSystem, openai_thread: openAiThread }).select().single()

    if (error) { handleError(error) }
    else {
      return Astro.redirect(`/game/${data.id}?toastType=success&toastText=${encodeURIComponent('Hra byla přidána')}`)
    }
  }
---

<Layout title='Vytvořit hru'>
  <a href='javascript:history.back()'>zpět</a>

  <h1>Vytvořit hru</h1>

  {user.id ? (
    <form method='POST' autocomplete='off'>
      <div class='flex'>
        <div class='labels'>
          <label for='gameName'>Název hry</label>
        </div>
        <div class='inputs'>
          <input type='text' id='gameName' name='gameName' maxlength='80' />
        </div>
      </div>
      <div class='flex'>
        <div class='labels'>
          <label for='gameSystem'>Herní systém</label>
        </div>
        <div class='inputs'>
          <select id='gameSystem' name='gameSystem'>
            <option value='drd1'>Dračí doupě e1.6</option>
            <option value='vampire5e'>Vampire the Masquerade e5</option>
            <option value='-'>Jiný / Bez systému</option>
          </select>
        </div>
      </div>
      <center>
        <button type='submit'>Vytvořit</button>
      </center>
    </form>
  ) : (
    <div>
      <p>Pro vytvoření nové hry se musíš přihlásit.</p>
    </div>
  )}
</Layout>

<style>
  form {
    width: 100%;
  }
    form div {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .labels {
      width: 15%;
      padding-right: 10px;
    }
    .inputs {
      flex: 1;
    }
      input {
        width: 100%;
      }
      select {
        width: 400px;
      }
  center {
    margin-top: 20px;
  }
</style>