---
  import { handleError } from '@lib/database'
	import Layout from '@layouts/layout.astro'
  import GameList from '@components/games/GameList.svelte'

  const { supabase, user } = Astro.locals
  const { data, error } = await supabase.from('game_list').select('*')
  if (error) { handleError(error) }
---

<Layout title='Hry'>
  <div class='headline flex'>
    <h1>Hry</h1>
    {user.id && (<div>
      <a href='./game/game-form' class='button desktop'>Vytvořit novou hru</a>
      <a href='./game/game-form' class='button mobile material'>add</a>
    </div>)}
  </div>
  <GameList games={data} />
</Layout>

<style>
  .headline {
    justify-content: space-between;
  }
  .mobile { display: none }
  .desktop { display: block }

  @media (max-width: 860px) {
    .desktop { display: none }
    .mobile { display: block }
    .button {
      padding: 10px;
    }
  }
</style>