---
  import { supabase } from '@lib/database'
	import Layout from '@layouts/layout.astro'
  import GameList from '@components/games/GameList.svelte'

  const { user } = Astro.locals

  const { data, error } = await supabase.from('games').select('name, profiles ( name )')
  if (error) { console.error('Error loading game list', error.message) }
---

<Layout title='Hry'>
  <div class='headline flex'>
    <h1>Hry</h1>
    {user.id && (<div><a href='./new-game' class='button'>Vytvořit novou hru</a></div>)}
  </div>
  <GameList games={data} />
</Layout>

<style>
  .headline {
    justify-content: space-between;
  }
</style>