---
	import { handleError } from '@lib/database'
	import Layout from '@layouts/layout.astro'
	import News from '@components/homepage/news.svelte'
---

<Layout title='Hlavní strana'>
	<main>
		<aside>
			<News client:only />
		</aside>
		<content>
			Tady bude editorial a zeď s novinkami.
		</content>
	</main>
</Layout>

<style>
	main {
		display: flex;
		gap: 40px;
	}
		aside, content {
			flex: 0 0 40%;
		}
</style>