---
	import Layout from '../layouts/layout.astro'
	import { Database } from 'bun:sqlite'

	/* DB
	const db = new Database(':memory:')
	const query = db.query("select 'Hello world' as message;")
	console.log(query.get())
	*/
---

<Layout title='Hlavní strana'>
  <h1>Test</h1>
	<a href='/login'>Přihlášení</a>
	<br>
  <a href='/rpg'>Hry</a>
</Layout>
