---
	import Layout from '@layouts/layout.astro'
	import News from '@components/homepage/news.svelte'
	import Feed from '@components/homepage/feed.svelte'

  const { supabase } = Astro.locals

	const { data: lastEditorial, error } = await supabase.from('works').select('*').is('editorial', true).order('created_at', { ascending: false }).limit(1).maybeSingle()
	if (error) { console.error('error', error) }
---

<Layout title='Hlavní strana'>
	<main>
		<aside>
			<News client:only />
		</aside>
		<content>
			<Feed client:load {lastEditorial} />
		</content>
	</main>
</Layout>

<style>
	main {
		display: flex;
		gap: 40px;
	}
		aside, content {
			flex: 0 0 40%;
		}
</style>