---
	import Layout from '@layouts/layout.astro'
	import Editorial from '@components/homepage/Editorial.svelte'
	import NewsSection from '@components/homepage/NewsSection.svelte'

  const { supabase, user } = Astro.locals

	const { data: lastEditorial, error } = await supabase.from('works').select('*').is('editorial', true).order('created_at', { ascending: false }).limit(1).maybeSingle()
	if (error) { console.error('error loading editorial', error) }

	// const { data: lastPosts, error: error2 } = await supabase.from('last_posts').select('*').limit(10)
	// if (error2) { console.error('error loading last posts', error2) }
---

<Layout title='Hlavní strana'>
	<main>
		<section>
			<Editorial {lastEditorial} client:only />
			<NewsSection headline='Nové články' table='work_list' slug='work' client:load />
			<!-- <Feed {user} {lastPosts} client:only /> -->
		</section>
		<aside>
			<NewsSection headline='Nové hry' table='game_list' slug='game' client:load />
		</aside>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: row-reverse;
		gap: 40px;
	}
		aside {
			width: 50%;
		}
		section {
			width: 50%;
		}

	@media (max-width: 500px) {
    main {
			display: flex;
			flex-direction: column;
		}
			aside, content, section {
				width: 100%;
			}
  }
</style>