---
	import Layout from '@layouts/layout.astro'
	import Editorial from '@components/homepage/Editorial.svelte'
	import NewsSection from '@components/homepage/NewsSection.svelte'

  const { supabase, user } = Astro.locals

	const { data: lastEditorial, error } = await supabase.from('works').select('*').is('editorial', true).order('created_at', { ascending: false }).limit(1).maybeSingle()
	if (error) { console.error('Error loading editorial', error) }

	// const { data: lastPosts, error: error2 } = await supabase.from('last_posts').select('*').limit(10)
	// if (error2) { console.error('error loading last posts', error2) }
---

<Layout title='Hlavní strana'>
	<Editorial {lastEditorial} client:only />
	<main>
		<NewsSection headline='Nové hry' table='game_list' slug='game' client:load />
		<NewsSection headline='Nové články' table='work_list' slug='work' client:load />
		<NewsSection headline='Nové diskuze' table='board_list' slug='board' client:load />
	</main>
</Layout>

<style>
	main {
		display: flex;
		gap: 20px;
	}

	@media (max-width: 800px) {
    main {
			flex-direction: column;
		}
  }
</style>