---
	import Layout from '@layouts/layout.astro'
	import Editorial from '@components/homepage/Editorial.svelte'
	import Latest from '@components/homepage/Latest.svelte'
	import NewsFeed from '@components/homepage/NewsFeed.svelte'

	let newsError, lastEditorial, news
	const { supabase, user } = Astro.locals

	try {
		const res = await supabase.from('works').select('*').is('editorial', true).order('created_at', { ascending: false }).limit(1).maybeSingle()
		if (res.error) { throw res.error }
		lastEditorial = res.data

		// preview unpublished news
		let publishedOnly = true
		const preview = Astro.url.searchParams.get('preview')
		if (preview) { publishedOnly = false }
		const res2 = await supabase.from('news_reactions').select('*').eq('published', publishedOnly).order('created_at', { ascending: false }).limit(14)
		if (res2.error) { throw res2.error }
		news = res2.data
	} catch (error) {
		newsError = 'Chyba načtení novinek: ' + error.message
	}
---

<Layout title='Hlavní strana'>
  {newsError ? <p>{newsError}</p> : <Editorial {lastEditorial} client:only='svelte' />}
	<main>
		<aside>
			<Latest client:only='svelte' />
		</aside>
		<content>
			<NewsFeed {user} {news} client:only='svelte' />
		</content>
	</main>
</Layout>

<style>
	main {
		display: flex;
		gap: 20px;
	}
		aside {
			width: 25%;
		}
		content {
			width: 75%;
		}

	@media (max-width: 500px) {
    main {
			flex-direction: column-reverse;
		}
			aside, content {
				width: 100%;
			}
  }
</style>