---
	import Layout from '@layouts/layout.astro'
	import Editorial from '@components/homepage/Editorial.svelte'
	import NewsSection from '@components/homepage/NewsSection.svelte'

	let editorialError, lastEditorial

	try {
		const { supabase, user } = Astro.locals
		const res = await supabase.from('works').select('*').is('editorial', true).order('created_at', { ascending: false }).limit(1).maybeSingle()
		if (res.error) { throw res.error }
		lastEditorial = res.data

		// const { data: lastPosts, error: error2 } = await supabase.from('last_posts').select('*').limit(10)
		// if (error2) { console.error('error loading last posts', error2) }
	} catch (error) {
		editorialError = 'Chyba načtení editorialu: ' + error.message
	}
---

<Layout title='Hlavní strana'>
  {editorialError ? <p>{editorialError}</p> : <Editorial {lastEditorial} client:only='svelte' />}
	<main>
		<NewsSection headline='Nové hry' table='game_list' slug='game' client:only='svelte' />
		<NewsSection headline='Nové články' table='work_list' slug='work' client:only='svelte' />
		<NewsSection headline='Nové diskuze' table='board_list' slug='board' client:only='svelte' />
	</main>
</Layout>

<style>
	main {
		display: flex;
		gap: 20px;
	}

	@media (max-width: 800px) {
    main {
			flex-direction: column;
		}
  }
</style>