---
	import Layout from '@layouts/layout.astro'
	import Editorial from '@components/homepage/Editorial.svelte'
	import Latest from '@components/homepage/Latest.svelte'
	import NewsFeed from '@components/homepage/NewsFeed.svelte'

	let editorialError, lastEditorial, news

	try {
		const { supabase, user } = Astro.locals

		const res = await supabase.from('works').select('*').is('editorial', true).order('created_at', { ascending: false }).limit(1).maybeSingle()
		if (res.error) { throw res.error }
		lastEditorial = res.data

		const res2 = await supabase.from('news').select('id, title, content_type, content_id, image_url, subheadline, content, published, owner(id, name, portrait), character, character_name, button_text, url, created_at').eq('published', true).order('created_at', { ascending: false }).limit(14)
		if (res2.error) { throw res2.error }
		news = res2.data
	} catch (error) {
		editorialError = 'Chyba načtení editorialu: ' + error.message
	}
---

<Layout title='Hlavní strana'>
  {editorialError ? <p>{editorialError}</p> : <Editorial {lastEditorial} client:only='svelte' />}
	<main>
		<aside>
			<Latest client:only='svelte' />
		</aside>
		<content>
			<NewsFeed {news} client:only='svelte' />
		</content>
	</main>
</Layout>

<style>
	main {
		display: flex;
		gap: 20px;
	}
		aside {
			width: 20%;
		}
		content {
			width: 80%;
		}

	@media (max-width: 500px) {
    main {
			flex-direction: column-reverse;
		}
			aside, content {
				width: 100%;
			}
  }
</style>