---
  import Layout from '@layouts/layout.astro'
---

<Layout title='Přihlášení' padding='40px 60px 60px 60px'>
  <h1>Přihlášení</h1>
  <form action='/api/auth/login' method='post'>
    <button value='google' name='provider' type='submit'>Přihlásit přes Google</button>
  </form>
</Layout>
