---
	import Layout from '../layouts/layout.astro'
  import { isUser } from '@lib/supabase'

  const isLogged = isUser(Astro.cookies)
---

<Layout title='Vytvořit hru' padding='40px 60px 60px 60px'>
  <a href='javascript:history.back()'>zpět</a>

  <h1>Vytvořit hru</h1>

  {isLogged ? (
    <table>
      <tr>
        <td class='labels'>
          <label for='name'>Název</label>
        </td>
        <td>
          <input type='text' id='name' maxlength='80' />
        </td>
      </tr>
    </table>
    <br>
    <center>
      <button onclick=''>Vytvořit</button>
    </center>
  ) : (
    <div>
      <p>Pro vytvoření nové hry se musíš přihlásit.</p>
    </div>
  )}
</Layout>

<style>
  table {
    width: 100%;
  }
  .labels {
    width: 10%;
    padding-right: 10px;
  }
  td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  input {
    width: 100%;
  }
</style>