---
	import Layout from '../layouts/layout.astro'
  import { supabase } from '@lib/database'

  const { user } = Astro.locals

  if (Astro.request.method === 'POST') {
    try {
      const data = await Astro.request.formData()
      const gameName = data.get('gameName')
      const { error } = await supabase.from('games').insert({ name: gameName })
      if (error) {
        console.error(error)
      } else {
        return Astro.redirect('/games?toast=game-added')
      }
    } catch (e) { console.error(e) }
  }
---

<Layout title='Vytvořit hru'>
  <a href='javascript:history.back()'>zpět</a>

  <h1>Vytvořit hru</h1>

  {user.id ? (
    <form method='POST' autocomplete='off'>
      <div class='flex'>
        <div class='labels'>
          <label for='gameName'>Název hry</label>
        </div>
        <div class='inputs'>
          <input type='text' id='gameName' name='gameName' maxlength='80' />
        </div>
      </div>
      <center>
        <button type='submit'>Vytvořit</button>
      </center>
    </form>
  ) : (
    <div>
      <p>Pro vytvoření nové hry se musíš přihlásit.</p>
    </div>
  )}
</Layout>

<style>
  form {
    width: 100%;
  }
    form div {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .labels {
      width: 10%;
      padding-right: 10px;
    }
    .inputs {
      flex: 1;
    }
      input {
        width: 100%;
      }
  center {
    margin-top: 20px;
  }
</style>