---
	import Layout from '../layouts/layout.astro'
  import { getUser } from '@lib/database'

  const { user, profile } = await getUser(Astro.cookies)
---

<Layout title='Přezdívka' padding='40px 60px 60px 60px' {user} {profile}>
  <h1>Dokončení registrace</h1>
</Layout>