---
import Layout from '@layouts/layout.astro'
import Post from '@components/common/Post.svelte'

const { supabase, user } = Astro.locals

// start of current week (Monday)
const today = new Date()
const currentWeekStart = new Date(today)
currentWeekStart.setHours(0,0,0,0)
currentWeekStart.setDate(currentWeekStart.getDate() - ((currentWeekStart.getDay() + 6) % 7))

let posts, loadError
try {
  const { data, error } = await supabase
    .from('game_posts_owner')
    .select('*')
    .gte('created_at', currentWeekStart.toISOString())
    .or('audience.is.null,audience.eq.{}')
    .order('created_at', { ascending: false })
  if (error) { throw error }
  posts = data
} catch (err) {
  loadError = 'Chyba načtení příspěvků: ' + err.message
}
---

<Layout title='Příspěvek týdne'>
  <h1>Hlasování o příspěvek týdne</h1>
  {loadError ? <p>{loadError}</p> : (
    <div>
      {posts?.map((post) => <Post {post} {user} allowReactions allowedReactions={['hearts']} client:only='svelte' />)}
    </div>
  )}
</Layout>
