---
import Layout from '@layouts/layout.astro'
---
<Layout title='Soukromí'>
  <h1>Soukromí</h1>

  <h2>Zásady ochrany osobních údajů</h2>
  
  <p>Tyto zásady ochrany osobních údajů poskytují v souladu s nařízením Evropského parlamentu a Rady (EU) č. 2016/679, o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů (dále jen jako "<strong>GDPR</strong>"), informaci o tom, jak webová stránka <a href="https://andor2.cz">https://andor2.cz</a> (dále jen "<strong>Andor</strong>") pracuje s vašimi osobními údaji.</p>
  <p>Andor je komunitní webová stránka vytvořená fantasy nadšenci, pro fantasy nadšence - jeho účelem je poskytnout komunitě ryze českou platformu k hraní RP her a sdílení nejrůznějších dojmů v rámci tematicky zaměřených diskuzí. účelem Andoru není svým uživatelům nic prodávat, nic nabízet, cíleně sbírat jejich osobní údaje ani na nich jakkoliv jinak profitovat.</p>
  <p>Andor vyvíjí dobrovolnický tým zejména dlouholetých uživatelů Andoru s technickými znalostmi umožňujícími vývoj a technický rozvoj webu, tito vývojáři nejsou za svou práci nijak odměňováni. Provoz Andoru je hrazen z příspěvků členů vývojového týmu.</p>
  <p>Za účelem vyhovění relevantním právním předpisům na ochranu osobních údajů, zejména GDPR, nicméně vývojový tým Andoru připravil tyto zásady ochrany osobních údajů pro informování uživatelů o tom, jak Andor nakládá s jejich osobními údaji.</p>
  <p>Správcem osobních údajů na Andoru je vedoucí vývoje a vlastník domény andor2.cz pan David Spohr, IČO 719 03 275, se sídlem Sochorova 171, 252 30 Řevnice (dále jen "<strong>Vedoucí vývoje</strong>"), a osobní údaje Andor sbírá výhradně od registrovaných uživatelů Andoru, nikoliv neregistrovaných návštěvníků webových stránek.</p>
  
  <ol>
    <li><h4>Identifikace správce a úvodní ustanovení</h4>
      <ol>
        <li>Správcem vašich osobních údajů je Vedoucí vývoje. V případě, že budete mít jakýkoliv dotaz ohledně ochrany vašich zpracovávaných osobních údajů, můžete jej kontaktovat e-mailem na emailové adrese [<a href="mailto:eskel.work@gmail.com">eskel.work@gmail.com</a>] nebo prostřednictvím Andorského chatu pod jménem "Eskel".</li>
        <li>Osobními údaji se rozumí veškeré informace o identifikované nebo identifikovatelné fyzické osobě; identifikovatelnou fyzickou osobou je fyzická osoba, kterou lze přímo či nepřímo identifikovat, zejména odkazem na určitý identifikátor, například jméno, identifikační číslo, lokační údaje, síťový identifikátor nebo na jeden či více zvláštních prvků fyzické, fyziologické, genetické, psychické, ekonomické, kulturní nebo společenské identity této fyzické osoby.</li>
        <li>Andor je určen pro všechny nadšence mající zájem o hraní RP her a sdílení nejrůznějších dojmů v rámci tematicky zaměřených diskuzí.</li>
        <li>Andor nemá povinnost ustanovit pověřence pro ochranu osobních údajů a pověřence pro ochranu osobních údajů neustanovil. V případě, že budete chtít uplatnit vaše práva související se zpracováním Vašich osobních údajů, prosím kontaktujte Vedoucího vývoje způsobem uvedeným v bodě 1) výše.</li>
      </ol>
    </li>
    <li><h4>Zdroje a kategorie zpracovávaných osobních údajů</h4>
      <ol>
        <li>Andor zpracovává pouze ty osobní údaje, které jste nám sami jako registrování uživatelé poskytli, přičemž se jedná pouze o následující osobní údaje:
          <ul>
            <li>e-mailová adresa registrovaných uživatelů.</li>
          </ul>
        </li>
        <li>Nezpracováváme osobní údaje spadající mezi zvláštní kategorie osobních údajů (tzv. citlivé osobní údaje), kterými se rozumí zejména údaje vypovídající o vašem rasovém či etnickém původu, údaje o náboženském či filozofickém přesvědčení, nebo údaje o sexuálním životě či orientaci.</li>
      </ol>
    </li>
    <li><h4>Účel zpracování osobních údajů a právní základ pro zpracování</h4>
      <p>Vaše osobní údaje zpracováváme pouze v nutném rozsahu nezbytném pro daný účel, a to za podmínky zákonnosti, tj. takový účel zpracování se opírá o relevantní právní základ.</p>
      <ol>
        <li><strong>Užívání cookies (popř. jiných technologií) při návštěvě našeho webu</strong>
          <p>Při návštěvě jakékoliv internetové stránky mohou být vaše osobní údaje zpracovávány prostřednictvím souborů cookies. Cookies jsou malé textové soubory, které si váš prohlížeč při prohlížení internetových stránek ukládá na váš pevný disk. Používání cookies přináší řadu výhod, přičemž tou nejvýznamnější je zajištění správného fungování internetových stránek. Soubory cookies také ale mohou pomoci zapamatovat si vaše aktivity a preference, aby je nebylo nutné po opuštění a následném návratu na internetové stránky znovu nastavovat, čímž vám zajišťují přizpůsobení obsahu vaším zájmům a potřebám.</p>
          <p>Podle účelu lze cookies rozdělit do následujících základních skupin:</p>
          <ol>
            <li><strong>Nezbytně nutné (technické) cookies</strong>
              <p>Nezbytně nutné (technické) cookies umožňují <strong>základní funkce webu</strong>, bez nich web nemůže řádně fungovat. Zajišťují např. správné zobrazování, odesílání formulářů, chod navigace a další nezbytně nutné činnosti. Z tohoto důvodu tyto cookies nelze vypnout a pro jejich využití není vyžadován váš souhlas.</p>
            </li>
            <li><strong>Preferenční cookies</strong>
              <p>Preferenční cookies umožňují, aby si web zapamatoval informace, které mění, jak se web chová nebo jak vypadá. Je to například preferovaný jazyk nebo region, kde se nacházíte.</p>
            </li>
            <li><strong>Statistické cookies</strong>
              <p>Statistické cookies slouží primárně ke zlepšování fungování webu, jelikož umožňují zjistit počet návštěvníků a sledovat, jak návštěvníci web používají. Tyto cookies shromažďují anonymní informace, jejich prostřednictvím vás tedy není možné identifikovat.</p>
            </li>
            <li><strong>Marketingové cookies</strong>
              <p>Marketingové cookies shromažďují informace pro lepší přizpůsobení reklamy vašim zájmům. Zaznamenávají vaši návštěvu na webu, jiné internetové stránky, které jste navštívili a odkazy, které jste použili.</p>
            </li>
          </ol>
          <p>Andor využívá toliko nezbytně nutných (technických) cookies, k jejichž užití není potřeba vašeho souhlasu, ani jejich použití nemůžete odmítnout. Právním základem pro toto zpracování je oprávněný zájem ve smyslu čl. 6 odst. 1 písm. f) GDPR. Oprávněný zájem spočívá zejména v bezproblémové funkčnosti Andoru.</p>
          <p>Ostatní netechnické cookies (tj. preferenční, statistické a marketingové cookies) Andor nevyužívá.</p>
        </li>
        <li><strong>Registrace a řádné fungování uživatelského účtu</strong>
          <p>Andor poskytuje plný rozsah svých funkcí a umožňuje hraní her a účast na diskuzích pouze svým registrovaným uživatelům. Při registraci uživatelského účtu nový uživatel Andoru zadává svou kontaktní e-mailovou adresu, která je následně zpracována pro účely přihlašování a vedení uživatelského účtu.</p>
          <p>Registrace na Andor je dobrovolná, uživatel poskytuje svou e-mailovou adresu Andoru s vědomím jejího zpracování pro tyto účely.</p>
          <p>Právním základem pro zpracování je tedy váš souhlas dle čl. 6 odst. 1 písm. a) GDPR.</p>
          <p>V případě, že si již nebudete přát být registrovaným uživatelem Andoru, můžete svůj účet kdykoliv zrušit v nastavení klikem na tlačítko "Smazat účet."</p>
        </li>
      </ol>
    </li>
    <li><h4>Příjemci osobních údajů</h4>
      <p>Vaše osobní údaje nepředáváme žádným třetí stranám.</p>
    </li>
    <li><h4>Jaká máte práva v souvislosti se zpracováním Vašich osobních údajů?</h4>
      <p>Relevantní právní předpisy na ochranu osobních údajů, zejména GDPR, vám jako subjektům osobních údajů poskytují řadu práv.</p>
      <p>Pamatujte však prosím, že jejich využitím může dojít k omezení, resp. smazání vašeho uživatelského účtu na Andoru, jelikož vaše osobní údaje bezprostředně slouží k zajištění řádného fungování Andoru.</p>
      <ol>
        <li>V souladu s příslušnými ustanovení GDPR máte v souvislosti se zpracováním vašich osobních údajů následující práva:
          <ol>
            <li><strong>Právo na přístup k osobním údajům dle čl. 15 GDPR</strong>
              <p>Máte právo na přístup ke všem zpracovávaným osobním údajům. Na vaši žádost vám poskytneme kopii zpracovávaných osobních údajů ve strojově čitelném formátu.</p>
            </li>
            <li><strong>Právo na opravu osobních údajů dle čl. 16 GDPR</strong>
              <p>Máte právo na opravu změněných či nesprávně uváděných osobních. Opravu provedeme poté, co budeme moci změněné či správné údaje ověřit.</p>
            </li>
            <li><strong>Právo na výmaz ("právo být zapomenut") dle čl. 17 GDPR</strong>
              <p>Máte právo na výmaz svých osobních údajů, a to v případech specifikovaných v čl. 17 GDPR. Zejména se bude jednat o situaci, kdy osobní údaje již nejsou potřebné pro účely, pro které byly shromážděny nebo jinak zpracovány.</p>
            </li>
            <li><strong>Právo na omezení zpracování osobních údajů dle čl. 18 GDPR</strong>
              <p>Máte právo na omezení zpracování svých osobních údajů, to v případech specifikovaných v čl. 18 GDPR, např. popíráte-li přesnost osobních údajů, a to na dobu potřebnou k tomu, abychom mohli přesnost osobních údajů ověřit.</p>
            </li>
            <li><strong>Právo na přenositelnost osobních údajů dle čl. 20 GDPR</strong>
              <p>Máte právo na to, abychom vám poskytli automatizovaně zpracovávané osobní údaje ve strukturovaném, běžně používaném a strojově čitelném formátu, případně abychom tyto údaje předali jinému správci, je-li to technicky proveditelné.</p>
            </li>
            <li><strong>Právo na odvolání souhlasu</strong>
              <p>Pokud zpracováváme vaše osobní údaje na základě vašeho souhlasu, jste oprávněni svůj souhlas kdykoliv odvolat kontaktováním Vedoucího vývoje nebo smazáním svého uživatelského účtu.</p>
              <p>Vezměte prosím na vědomí, že odvoláním souhlasu se zpracováním vašich osobních údajů dojde ke smazání vašeho uživatelského účtu na Andoru.</p>
            </li>
            <li><strong>Právo nebýt předmětem automatizovaného rozhodování</strong>
              <p>Máte právo nebýt předmětem žádného rozhodnutí založeného výhradně na automatizovaném zpracování včetně profilování, které by pro vás mělo právní účinky nebo se vás významně dotýkalo.</p>
              <p>Andor neprovádí žádné takovéto automatizované rozhodování ani profilování.</p>
            </li>
            <li><strong>Právo na podání stížnosti</strong>
              <p>V případě, že se domníváte, že bylo porušeno vaše právo na ochranu osobních údajů, máte právo obrátit se kdykoliv se svou stížností na Andor, případně podat stížnost k úřadu pro ochranu osobních údajů, jenž sídlí na adrese Pplk. Sochora 727, 170 00 Praha 7-Holešovice, či požádat o soudní ochranu.</p>
            </li>
          </ol>
        </li>
        <li>Pro uplatnění svých výše uvedených práv kontaktujte Vedoucího vývoje.</li>
        <li>V případě uplatnění vašich práv jsme povinni vás bezplatně informovat o přijatých opatřeních, a to bez zbytečného odkladu a v každém případě do jednoho měsíce od obdržení vaší žádosti. Tuto lhůtu je možné v případě potřeby a s ohledem na složitost a počet žádostí prodloužit o další dva měsíce. Pokud bychom nevyhověli vaší žádosti, budeme vás informovat bezodkladně (nejpozději do jednoho měsíce) o důvodech nevyhovění.</li>
        <li>V některých případech vymezených právními předpisy nejsme povinni zcela nebo zčásti žádosti vyhovět. Bude tomu tak zejména, bude-li žádost zjevně nedůvodná nebo nepřiměřená, např. z důvodu jejího opakování. Pokud obdržíme žádost, ale budeme mít důvodné pochybnosti o totožnosti odesílatele žádosti, můžeme vás požádat o poskytnutí dodatečných informací nezbytných k potvrzení vaší totožnosti.</li>
      </ol>
    </li>
    <li><h4>Podmínky zabezpečení osobních údajů</h4>
      <p>Vývojový tým Andoru přijal veškerá vhodná technická a organizační opatření k zabezpečení osobních údajů, včetně technických opatření k zabezpečení datových úložišť.</p>
    </li>
    <li><h4>Závěrečná ustanovení</h4>
      <ol>
        <li>Vedoucí vývoje je oprávněn tyto Zásady ochrany osobních údajů měnit. Na Andoru je veřejně dostupná vždy aktuální verze těchto Zásad ochrany osobních údajů.</li>
        <li>Tyto Zásady ochrany osobních údajů nabývají účinnosti dnem 1. září 2024.</li>
      </ol>
    </li>
  </ol>

  <h2>Cookies</h2>
  <p>Jako většina webových stránek, Andor2 používá ke svému řádnému fungování <a href='https://cs.wikipedia.org/wiki/HTTP_cookie'>soubory cookies</a>, ale jen ty technicky nezbytné pro udržení tvého přihlášení.</p>
  <table>
    <tr>
      <th>Název cookie</th>
      <th>Zdroj</th>
      <th>Doba uložení</th>
    </tr>
    <tr>
      <td>sb-access-token</td>
      <td>Supabase.com</td>
      <td>Déle než 1 rok</td>
    </tr>
    <tr>
      <td>sb-refresh-token</td>
      <td>Supabase.com</td>
      <td>Déle než 1 rok</td>
    </tr>
    <tr>
      <td>sb-zwclrcefxleqmzhhfcte-auth-token</td>
      <td>Supabase.com</td>
      <td>Déle než 1 rok</td>
    </tr>
  </table>
  <p><a href='https://www.supabase.com'>Supabase.com</a> je náš poskytovatel databázových a autentifikačních služeb.</p>
  <br>
  <h2>Autor</h2>
  Autorem tohoto textu je <b>Nalfaen</b>, člen vývojového týmu Andoru, který se stará o právní záležitosti. Pokud máte jakýkoliv dotaz ohledně těchto zásad ochrany osobních údajů, můžete se na něj po přihlášení obrátit prostřednictvím soukromé konverzace, pod jménem "Nalfaen".</p>
</Layout>

<style>
  table {
    width: 100%;
  }
  th {
    text-align: left;
  }
  td, th {
    padding: 5px 10px;
    background-color: #9991;
  }
</style>