---
	import Layout from '../layouts/layout.astro'
  import { isUser } from '@lib/supabase'

  if (isUser(Astro.cookies) !== true) {
    return Astro.redirect('/login')
  }
---

<Layout title='Hry'>
	<a href='/'>Andor</a>
  <h1>Hry</h1>
  <!-- 2DO: read session
  <p>Hi {session.user?.name}, only logged in users can see this page</p>
  -->
</Layout>
