---
import LayoutMini from '@layouts/layoutMini.astro'

// Get supabase user auth
const accessToken = Astro.cookies.get('sb-access-token')?.value
const refreshToken = Astro.cookies.get('sb-refresh-token')?.value

// Path based on environment
const path = import.meta.env.DEV ? 'http://localhost:5173' : 'https://tirien.cz'
---

<LayoutMini title='Tirien: Hlavní město Andoru'>
  <div class='tirien-iframe-container'>
    <iframe 
      src={`${path}?accessToken=${accessToken}&refreshToken=${refreshToken}`}
      width='100%' 
      height='600px'
      frameborder='0'
      allow='autoplay; encrypted-media; fullscreen'>
    </iframe>
  </div>
</LayoutMini>

<style>
  .tirien-iframe-container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  iframe {
    border-radius: 20px;
  }
</style>