---
  import { getData } from '@lib/cache'
	import Layout from '@layouts/layout.astro'
  import WorkList from '@components/works/WorkList.svelte'

  const { supabase, user } = Astro.locals

  const works = await getData('works', 300, () => supabase.from('work_list').select('*'))
---

<Layout title='Tvorba'>
  <div class='headline flex'>
    <h1>Tvorba</h1>
    {user.id && (<div>
      <a href='./work/work-form' class='button desktop'>Vytvořit nové dílo</a>
      <a href='./work/work-form' class='button mobile material'>add</a>
    </div>)}
  </div>
  <WorkList {user} {works} client:only />
</Layout>

<style>
  .headline {
    justify-content: space-between;
  }
  .mobile { display: none }
  .desktop { display: block }

  @media (max-width: 860px) {
    .desktop { display: none }
    .mobile { display: block }
    .button {
      padding: 10px;
    }
  }
</style>