---
	import Layout from '@layouts/layout.astro'
  import { supabase, handleError } from '@lib/database'
  import PortraitInput from '@components/misc/PortraitInput.svelte'

  const { user } = Astro.locals
  const { gameId } = Astro.params
  const id = Astro.url.searchParams.get('id') || ''

  const character = {}

  if (id) { // edit
    const { data, error } = await supabase.from('characters').select('*').eq('id', id).single()
    if (error) { handleError(error) }
    else { character = data }
  }

  if (Astro.request.method === 'POST') {
    const data = await Astro.request.formData()
    character.name = data.get('charName') || 'Beze jména'
    character.bio = data.get('charBio') || ''
    character.portrait = data.get('charPortrait') || ''
    character.owner = user.id
    if (gameId) { character.game = gameId }

    const { error2 } = await supabase.from('characters').insert(character)
    if (error2) { return handleError(error2) }
    else {
      return Astro.redirect('/game/' + gameId + '?toastType=success&toastText=' + encodeURIComponent('Postava byla přidána'))
    }
  }
---

<Layout title='Vytvořit postavu'>
  <a href='javascript:history.back()'>zpět</a>

  <h1>Vytvořit postavu</h1>

  {user.id ? (
    <form method='POST' autocomplete='off'>
      <table>
        <tr>
          <td class='labels'><label for='charName'>Jméno</label></td>
          <td class='inputs'><input type='text' id='charName' name='charName' maxlength='100' /></td>
        </tr>
        <tr>
          <td class='labels'><label for='charBio'>Popis</label></td>
          <td class='inputs'><textarea id='charBio' name='charBio'></textarea></td>
        </tr>
        <tr>
          <td class='labels'><label for='charIcon'>Portrét</label></td>
          <td class='inputs'><PortraitInput identity={character} client:only /></td>
        </tr>
      </table>
      <center>
        <button type='submit'>Vytvořit</button>
      </center>
    </form>
  ) : (
    <div>
      <p>Pro vytvoření nové postavy se musíš přihlásit.</p>
    </div>
  )}
</Layout>

<style>
  form, form table {
    width: 100%;
  }
    td {
      padding: 10px 0px;
    }
    .labels {
      width: 20%;
      padding-right: 10px;
    }
    #charName {
      width: 400px;
    }
    textarea {
      width: 100%;
      min-height: 200px;
    }
  center {
    margin-top: 20px;
  }
</style>