---
  import { handleError } from '@lib/database'
	import Layout from '@layouts/layout.astro'
  import CharacterForm from '@components/games/CharacterForm.svelte'

  const { supabase, user } = Astro.locals
  const { gameId } = Astro.params
  const id = Astro.url.searchParams.get('id') || ''

  let character:any = {}

  const { data: gameData, error: gameError } = await supabase.from('games').select('*').eq('id', gameId).single()
  if (gameError) { handleError(gameError) }
  const isGameOwner = gameData.owner === user.id

  if (id) { // edit
    const { data: charData, error } = await supabase.from('characters').select('*').eq('id', id).single()
    if (error) { handleError(error) }
    else { character = charData }
  }

  if (Astro.request.method === 'POST') {
    const data = await Astro.request.formData()
    character.name = data.get('charName') || 'Beze jména'
    character.appearance = data.get('charLooks') || ''
    character.bio = data.get('charBio') || ''
    character.portrait = data.get('charPortrait') || ''
    character.storyteller = data.get('storyteller') || false
    character.player = user.id
    if (character.storyteller) { character.accepted = true }
    if (gameId) { character.game = gameId }

    const { error: error2 } = await supabase.from('characters').upsert(character)
    if (error2) { handleError(error2) }
    else {
      return Astro.redirect('/game/' + gameId + '/?toastType=success&toastText=' + encodeURIComponent('Postava byla přidána'))
    }
  }
---

<Layout title='Vytvořit postavu'>
  <a href='javascript:history.back()'>zpět</a>

  <h1>Vytvořit postavu</h1>
  <CharacterForm {character} {isGameOwner} userId={user.id} client:only />
</Layout>
