---
	import Layout from '@layouts/layout.astro'
  import WorkForm from '@components/works/WorkForm.svelte'

  const { supabase, user } = Astro.locals

  if (Astro.request.method === 'POST') {
    const formData = await Astro.request.formData()
    const name = formData.get('workName')
    const content = formData.get('workContent')
    const annotation = formData.get('workAnnotation')
    const category = formData.get('workCategory')
    const tags = formData.get('workTags') ? formData.get('workTags').split(',') : []

    // 2DO: add 'type' for other types of works
    const { data, error } = await supabase.from('works').insert({ owner: user.id, name, category, content, annotation, tags }).select().single()
    if (error) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: ' + error.message)}`) }

    // add bookmark
    const { error: bookmarkError } = await supabase.from('bookmarks').upsert({ user_id: user.id, work_id: data.id }, { onConflict: 'user_id, work_id', ignoreDuplicates: true })
    if (bookmarkError) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: ' + bookmarkError.message)}`) }

    return Astro.redirect(`/work/${data.id}?toastType=success&toastText=${encodeURIComponent('Článek byl přidán')}`)
  }
---

<Layout title='Vytvořit článek'>
  <a href='javascript:history.back()'>zpět</a>

  <h1>Vytvořit článek</h1>
  <WorkForm {user} client:only='svelte' />
</Layout>
