---
	import Layout from '@layouts/layout.astro'
  import CharacterForm from '@components/games/CharacterForm.svelte'

  const { supabase, user } = Astro.locals
  const game = Astro.url.searchParams.get('game') || ''
  const id = Astro.url.searchParams.get('id') || ''

  let character:any = {}

  const { data: gameData, error: gameError } = await supabase.from('games').select('*').eq('id', game).single()
  if (gameError) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: ' + gameError.message)}`) }
  const isGameOwner = gameData.owner === user.id

  if (id) { // edit
    const { data: charData, error: charError } = await supabase.from('characters').select('*').eq('id', id).single()
    if (charError) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: ' + charError.message)}`) }
    else { character = charData }
  }

  if (Astro.request.method === 'POST') {
    const data = await Astro.request.formData()
    character.name = data.get('charName') || 'Beze jména'
    character.appearance = data.get('charLooks') || ''
    character.bio = data.get('charBio') || ''
    character.portrait = data.get('charPortrait') || ''
    character.storyteller = data.get('storyteller') || false
    character.player = user.id
    if (character.storyteller) { character.accepted = true }
    if (game) { character.game = game }

    const { error: error } = await supabase.from('characters').upsert(character)
    if (error) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: ' + error.message)}`) }

    const { error: timestampError } = await supabase.from('games').update({ characters_changed_at: new Date() }).eq('id', game)
    if (timestampError) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: ' + timestampError.message)}`) }

    return Astro.redirect('/game/' + game + '/?toastType=success&toastText=' + encodeURIComponent('Postava byla přidána'))
  }
---

<Layout title={id ? 'Upravit postavu' : 'Vytvořit postavu'}>
  <a href='javascript:history.back()'>zpět</a>

  <h1>{id ? 'Upravit postavu' : 'Vytvořit postavu'}</h1>
  <CharacterForm {character} {isGameOwner} userId={user.id} client:only />
</Layout>
