---
  import { createThread, getStoryteller } from '@lib/openai'
	import Layout from '@layouts/layout.astro'
  import GameForm from '@components/games/GameForm.svelte'

  const { supabase, user } = Astro.locals

  if (Astro.request.method === 'POST') {
    const formData = await Astro.request.formData()
    const name = formData.get('gameName')
    const system = formData.get('gameSystem')
    const category = formData.get('gameCategory')
    const annotation = formData.get('gameAnnotation')

    const openAiThread = await createThread()
    const openAiStoryteller = await getStoryteller(system)
    const { data, error } = await supabase.from('games').insert({ owner: user.id, name, category, system, annotation, openai_thread: openAiThread, openai_storyteller: openAiStoryteller }).select().single()
    if (error) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: ' + error.message)}`) }

    // add bookmark
    const { error: bookmarkError } = await supabase.from('bookmarks').upsert({ user_id: user.id, game_id: data.id }, { onConflict: 'user_id, game_id', ignoreDuplicates: true })
    if (bookmarkError) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: ' + bookmarkError.message)}`) }

    return Astro.redirect(`/game/${data.id}?toastType=success&toastText=${encodeURIComponent('Hra byla přidána')}`)
  }
---

<Layout title='Vytvořit hru'>
  <a href='javascript:history.back()'>zpět</a>
  <h1>Vytvořit hru</h1>
  <GameForm {user} client:only='svelte' />
</Layout>
