---
  import { getPosts } from '@lib/openai'

  const { threadId } = Astro.params
  const openai = getOpenAI(Astro.locals.runtime.env)
  const { data } = await getPosts(openai, { threadId, order: 'desc' })
---

<div>
  {data.map((post, index) => (
    <div>
      <p>{post.content[0].text.value}</p>
    </div>
  ))}
</div>

<style>
  html {
    background-color: black;
    color: white;
  }
</style>
