---
import { Buffer } from 'node:buffer'
import { getSupabase, blobToBase64 } from '@lib/database-server'

const { pathname } = new URL(Astro.url, Astro.site)
const { title, headerStatic, headerStorage } = Astro.props

let headerImage
try {
  // get header image
  const supabase = getSupabase(Astro.cookies, Astro.locals.runtime.env)
  const { data, error } = await supabase.storage.from('headers').getPublicUrl(headerStorage)
  if (error) { throw error }
  const headerUrl = data.publicUrl
  if (headerUrl) {
    headerImage = await fetch(headerUrl).then((res) => res.blob())
    let buffer = Buffer.from(await headerImage.arrayBuffer())
    headerImage = 'data:' + headerImage.type + ';base64,' + buffer.toString('base64')
  }
} catch (error) {
  console.error(error)
}

const obsidian = await fetch('https://andor2.cz/skins/obsidian.css').then((res) => res.text())
---

<html lang='cs'>
	<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='description' content='Andor2.cz ― Dračí Doupě online, TTRPG, VTT, RPG hry online, Dungeons & Dragons, D&D, DnD, Vampire, Call of Cthulhu, Pathfinder, Shadowrun, Cyberpunk, Fate, Star Wars, Warhammer, Pán Prstenů' />

    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link rel='icon' href='https://www.andor2.cz/favicon.png' type='image/png' />
    <link rel='preload' as='style' href='https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,900;1,400;1,900&display=swap' rel='stylesheet' onload="this.onload=null; this.rel='stylesheet'">

    <style type='text/css' set:html={`${obsidian}`}></style>

    <title>Andor2.cz ― {title} - záloha hry</title>
  </head>
	<body>
    <div id='wrapper'>
      <main>
        <header style=`--header-path: url(${headerImage})`>
          <a href='/' id='logo'></a>
        </header>
        <div id='content'>
          <slot />
        </div>
      </main>
    </div>
  </body>
</html>

<style>
  body {
    margin: 20px;
    margin-top: 0px;
  }

  #wrapper {
    max-width: 1400px;
    margin: auto;
    display: flex;
  }

    main {
      flex: 1;
    }

      #content {
        padding: 40px 60px 60px 60px;
        background-color: var(--panel);
        border-radius: 0px 0px 10px 10px;
      }

    footer {
      margin-top: 20px;
      padding: 20px;
      text-align: center;
    }

    header {
      position: relative;
      height: 226px;
      background-image: var(--header-path);
      background-position: center right;
      background-size: cover;
    }
      #logo {
        position: absolute;
        display: block;
        top: 40px;
        left: 50px;
        width: 190px;
        height: 90px;
        background-image: url('/andor2.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
      }
        #logo:hover {
          background-position: bottom;
        }

  @media (max-width: 1200px) {
    #content {
      padding: 20px 30px 30px 30px;
    }
  }

  @media (max-width: 860px) {
    body {
      margin: 0px;
    }
    main {
      border-radius: 0px;
    }
      #content {
        padding: 15px;
        padding-bottom: 50px;
        min-height: 550px;
      }
    header {
      height: 150px;
      background-size: cover;
    }
      #logo {
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(190px * 0.75);
        height: calc(90px * 0.75);
      }
  }
</style>
