---
import pkg from '../../package.json' assert { type: 'json' }
import Header from '@components/Header.svelte'
import Sidebar from '@components/Sidebar.svelte'
import { ViewTransitions } from 'astro:transitions'

const { version } = pkg
const { pathname } = new URL(Astro.url, Astro.site)
const { user } = Astro.locals
const { title } = Astro.props
---

<html lang='cs'>
	<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />

    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,900;1,400;1,900&display=swap' rel='stylesheet'>
    <link rel='icon' href='/favicon.png' type='image/png' />
    <link rel='stylesheet' href='/obsidian.css'>

    <ViewTransitions />
    <title>Andor2.cz ― {title}</title>
  </head>
	<body>
    <div id='wrapper'>
      <main>
        <Header {pathname} />
        <div id='content'>
          <slot />
        </div>
      </main>
      <Sidebar {user} client:load />
    </div>
    <footer>v{version}</footer>

    <script>
      import { lookForToast, showSuccess, showError } from '@lib/toasts'
      lookForToast()
      window.showSuccess = showSuccess
      window.showError = showError
    </script>
  </body>
</html>

<style>
  body {
    margin: 20px;
    margin-top: 0px;
  }

  #wrapper {
    width: 100%;
    margin: auto;
    display: flex;
  }

  #content {
    padding: 40px 60px 60px 60px;
  }

  main {
    flex: 1;
    background-color: var(--panel);
    border-radius: 0px 0px 10px 10px;
  }

  footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
  }
</style>