---
import pkg from '../../package.json' assert { type: 'json' }
import { user } from '@lib/stores'
import { supabase, isUser } from '@lib/supabase'
import Top from '@components/Top.svelte'
import UserPanel from '@components/UserPanel.svelte'

const { title, padding } = Astro.props
const version = pkg.version
const { data, error } = await supabase.auth.getSession()

user.set(isUser(Astro.cookies) && data.session ? data : null) // resets user store when cookies are missing
---

<html lang='cs'>
	<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />

    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,900;1,400;1,900&display=swap' rel='stylesheet'>
    <link rel='icon' href='/favicon.png' type='image/png' />
    <link rel='stylesheet' href='/obsidian.css'>

    <title>Andor2.cz ― {title}</title>
  </head>
	<body>
    <div id='wrapper'>
      <main>
        <Top />
        <div id='content' style={{ padding }}">
          <slot />
        </div>
      </main>
      <UserPanel />
    </div>
    <footer>v{version}</footer>
  </body>
</html>

<style>
  body {
    margin: 20px;
    margin-top: 0px;
  }

  #wrapper {
    width: 100%;
    margin: auto;
    display: flex;
  }

  main {
    flex: 1;
    background-color: #2b2827;
  }

  footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
  }
</style>