#user {
  margin: 20px 0px;
  display: flex;
  gap: 10px;
}
#details {
  display: flex;
  flex-direction: column;
}
#nameRow {
  padding: 15px 0px;
}
#name {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#buttons {
  display: flex;
  gap: 10px;
}
#logout,
#settings {
  padding: 0px;
  padding: 5px;
}
