---
  import { getOpenAI, createThread, getStoryteller } from '@lib/openai'
	import Layout from '@layouts/layout.astro'
  import SoloForm from '@components/solo/SoloForm.svelte'

  const { supabase, user } = Astro.locals

  if (Astro.request.method === 'POST') {
    const formData = await Astro.request.formData()
    const name = formData.get('conceptName')
    const world = formData.get('promptWorld')
    const story = formData.get('promptStory')
    const protagonist = formData.get('promptProtagonist')
    const locations = formData.get('promptLocations')
    const factions = formData.get('promptFactions')
    const characters = formData.get('promptCharacters')
    const image = formData.get('conceptImage')
    const tags = formData.get('soloTags') ? formData.get('soloTags').split(',') : []

    if (!name) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: Prosím vyplň jméno herního konceptu.')}`) }
    const { data, error } = await supabase.from('solo_concepts').insert({ author: user.id, name, prompt_world: world, prompt_plan: story, prompt_protagonist: protagonist, prompt_locations: locations, prompt_factions: factions, prompt_characters: characters, prompt_image: image, tags }).select().single()
    if (error) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: ' + error.message)}`) }

    // redirect user to the new concept page
    return Astro.redirect(`/solo/${data.id}?toastType=success&toastText=${encodeURIComponent('Herní koncept byl přidán')}`)
  }
---

<Layout title='Vytvořit herní koncept'>
  <a href='javascript:history.back()'>zpět</a>
  <h1>Vytvořit herní koncept</h1>
  <SoloForm {user} client:only='svelte' />
</Layout>
